.small {
    padding: .5em 1.4em;
}

.medium {
    padding: .8em 1.4em;

    @media #{$phone} {
        padding: .5rem;
    }
}

.large {
    padding: 1.2em 2.2em;

    @media #{$phone} {
        padding: 1rem;
    }
}

.small-mg {
    margin: .2rem .4rem;
}

.medium-mg {
    margin: .7rem 1rem; 

    @media #{$phone} {
        margin: .5rem;
    }
}

.large-md {
    margin: 1.2rem 2.2rem; 

    @media #{$phone} {
        padding: .8rem;
    }
}

.center {
    text-align: center;
}

.primary-color {
    color: $primary; 
}

.secondary-color {
    color: $secondary;
}

.accent-color {
    color: $accent; 
}

.warning {
    color: $red;
    font-weight: bolder;
}

.overflow-auto {
    overflow-x: auto;
}

.full-container {
    height: 100vh; 
    width: 100vw; 
}

.flex-center {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.hide-mobile {
    @media #{$phone} {
        display: none;
    }
}



